<div class="row">
    <div>
        <table id="image_list" datatable="ng" dt-options="dtOptions" class="table table-bordered table-striped row-border hover">
            <thead>
                <tr>
                    <th>ID</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="image in image_list">
                    <td>{{::image}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
