<h1>Submit new job</h1>
    <div class="row">
    <form class="form-horizontal">
        <div class="form-group">
            <label for="command" class="col-sm-2 control-label">Name</label>
            <div class="col-sm-10">
                <input class="form-control" ng-model="taskname" id="taskname" placeholder="task name">
            </div>
        </div>
        <div class="form-group">
            <label for="description" class="col-sm-2 control-label">Description</label>
            <div class="col-sm-10">
                <textarea class="form-control" ng-model="description" id="description" placeholder="task description"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="tags" class="col-sm-2 control-label">Tags</label>
            <div class="col-sm-10">
                    <input class="form-control" ng-model="tags" id="taskname" placeholder="tags, comma separated">
            </div>
        </div>
        <div class="form-group">
            <label for="project" class="col-sm-2 control-label">Project</label>
            <div class="col-sm-5">
                <input class="form-control" disabled ng-model="project.id" id="project" placeholder="project">
            </div>
            <div class="col-sm-5">
                <select  class="form-control"
                            ng-model="project" id="projects"
                            ng-options="v.id for v in projects">
                </select>
            </div>
        </div>
        <div class="form-group" ng-hide="executors_placement.length==1">
            <label for="placement" class="col-sm-2 control-label">Execution system</label>
            <div class="col-sm-5">
                <select  class="form-control"
                            ng-model="placement" id="placement"
                            ng-options="p for p in executors_placement">
                </select>
            </div>
        </div>

        <div class="form-group form-checkbox" ng-if="placement.indexOf('native') < 0">
           <div class="col-sm-offset-2 col-sm-10">
                 <div class="checkbox">
                   <label>
                     <input ng-model="$parent.interactive" type="checkbox"> Interactive session (ssh connection, image must embed a SSH server or system will try to install one)
                   </label>
                  </div>
           </div>
       </div>
       <div class="form-group">
            <label for="command" class="col-sm-2 control-label">Container image</label>
            <div class="col-sm-5">
                <input class="form-control" typeahead="image for image in image_list| filter:$viewValue | limitTo:8"  ng-disabled="! config_allow_user_images" ng-model="image.url" id="taskname" placeholder="container image">
            </div>
            <div class="col-sm-2">
                or use predefined image
            </div>
            <div class="col-sm-3" ng-if="! interactive">
                <select  class="form-control"
                            ng-model="$parent.image" id="image"
                            ng-options="v.name for v in config_images">
                </select>
            </div>
            <div class="col-sm-3" ng-if="interactive">
                <select  class="form-control"
                            ng-model="$parent.image" id="image"
                            ng-options="v.name for v in interactive_images">
                </select>
            </div>
       </div>


       <div class="form-group">
             <label class="col-sm-2 control-label">Command</label>
             <div class="col-sm-10">
                   <textarea class="godcode" ui-codemirror="{
                           lineNumbers: true,
                           theme:'twilight',
                           lineWrapping : true,
                           mode: 'text/plain'
                       }" ng-model="taskcommand" >
                   </textarea>
             </div>
        </div>
        <div class="form-group">
             <label for="cpu" class="col-sm-2 control-label">CPU requirements</label>
             <div class="col-sm-10">
                 <input type="number" min="1" required class="form-control" ng-model="cpu" id="cpu" placeholder="number of cpu">
             </div>
        </div>
        <div class="form-group">
             <label for="ram" class="col-sm-2 control-label">RAM requirements (Gb)</label>
             <div class="col-sm-10">
                 <input type="number" min="1" required class="form-control" ng-model="ram" id="ram" placeholder="Quantity of RAM(Gb)">
             </div>
        </div>


        <div class="well" data-toggle="collapse" data-target="#advancedOptions">Advanced options <span class="caret"></span></div>
        <div id="advancedOptions" class="collapse panel panel-default">
            <div class="form-group form-checkbox">
               <div class="col-sm-offset-2 col-sm-10">
                     <div class="checkbox">
                       <label>
                         <input ng-model="notify" type="checkbox"> Get notification on task status updates
                       </label>
                      </div>
               </div>
           </div>
            <div class="form-group">
                 <label for="ports" class="col-sm-2 control-label">Ports requirements</label>
                 <div class="col-sm-10">
                     <input required class="form-control" ng-model="ports" id="ports" placeholder="list of ports, comma separated">
                 </div>
            </div>


            <form class="form-horizontal">
            </form>

        </div>


    </form>
    </div>
    <div class="row">
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="btn" class="btn btn-default" ng-click="new_job()">Submit</button>
            </div>
        </div>
    </div>
