<div class="row" ng-repeat="node in usage">
    <h3>{{node.name}}</h3>
    <div class="row">
        <div class="col-lg-4">
            <small><em>CPU</em></small>
            <progressbar class="" max="node.cpu[1]" value="node.cpu[0]" type="info"><i>{{node.cpu[0]}}/{{node.cpu[1]}}</i></progressbar>
        </div>
        <div class="col-lg-4">
            <small><em>Memory</em></small>
            <progressbar class="" max="node.mem[1]" value="node.mem[0]" type="info"><i>{{node.mem[0]}}/{{node.mem[1]}}</i></progressbar>
        </div>
        <div class="col-lg-4">
            <small><em>Disk</em></small>
            <progressbar class="" max="node.disk[1]" value="node.disk[0]" type="info"><i>{{node.disk[0]}}/{{node.disk[1]}}</i></progressbar>
        </div>
    </div>
</div>
